---
pagination:
  data: collections.post_en
  size: 10
  alias: posts
  reverse: true
---

{% extends "main.njk" %}

{% block content %}
<div class="container-xl" id="home">
<h1>{{ title }}</h1>

{{content | safe}}

{%- for post in posts | reverse -%}
  {% include "blocks/postsummary.njk" %}
{%- endfor -%}

{% include "blocks/pagination.njk" %}

</div>


{% endblock %}
