{% extends "main.njk" %}

{% set posts = collections["post_" + locale] %}

{% block content %}
<div class="container-xl" id="home">
<h1>{{ title }}</h1>
<p>
  {{content | safe}}
</p>
{%- for post in posts | reverse -%}
  {% include "blocks/postsummary.njk" %}
{%- endfor -%}

</div>
{% endblock %}
