
{% extends "main.njk" %}

{% block content %}
<div class="container-xl" id="home">
<h1>{{ title }}</h1>

{{content | safe}}

{%- for post in posts -%}
  {% include "blocks/postsummary.njk" %}
{%- endfor -%}

{% include "blocks/pagination.njk" %}

</div>


{% endblock %}
