<!doctype html>
<html class="no-js" lang="{{ locale }}" dir="ltr">
  
<head>

  <meta charset="utf-8">
  <title>{{ title }}&nbsp;|&nbsp;{{ site.title }}</title>

  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Generator" content="{{ eleventy.generator }}" />

  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <!--link rel="shortlink" href="{{ baseUrl }}" /-->

  <link rel="stylesheet" href="/assets/styles/bootstrap.css">
  <link rel="stylesheet" href="/assets/styles/theme.css">

  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//analytics.teammq.com/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->


</head>

<body onscroll="checkscroll('header-top');">

  {% include "blocks/header.njk" %}

  <main class="main">

    <!-- ----- DYNAMIC CONTENT : many articles + 1 pagination ----- -->

    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <!-- ----- End of DYNAMIC CONTENT ----- -->

  </main>

  {% include "blocks/footer.njk" %}


  <!-- First JS scripts to be loaded -->
  <script src="/assets/scripts/bootstrap.js"></script>
  <!-- Last JS scripts to be loaded -->
  <script src="/assets/scripts/theme.js"></script>

</body>
</html>
