<section id="last-section" style="height:290px">
</section>

<footer id="footer">
  <div class="container-xl" id="footer-container">
    <div id="about-me" class="py-4">
      <h3 class="ps-3">{{ aboutme.title }}</h3>
      <span class="d-block mb-3">{{ aboutme.content }}</span>
    </div>

    <div id="copyright" class="py-3 mb-3">(c) 2022 {{ site.author }}. All rights reserved</div>

    <div id="powered-by" class="mb-4">Powered by <a href="{{ site.eleventy.url }}" target="_blank">{{ site.eleventy.name | capitalize }}</a></div>
  </div>
</footer>
