  <header id="header">
    <div id="header-top">
      <div class="container-xl">
        <a href="/fr/">{{ i18n.fr }}</a>
        <a href="/en/">{{ i18n.en }}</a>
      </div>
    </div>
    <div id="title-bar" class="container-xl d-flex align-items-center">
      <div class="flex-grow-1">
        <a href="/{{ locale }}/" class="site-name">{{ site.title | upper }}</a>
        <div class="site-slogan">{{ site.slogan }}</div>
      </div>
      <i id="mobile-nav-trigger" class="fas fa-bars"></i>
      <nav id="nav" class="">
        <div id="mobile-nav-close">X</div>
        <a href="/{{ locale }}/books/0/index.html">{{ nav.book }}</a>
        <a href="/{{ locale }}/">{{ nav.home }}</a>
      </nav>
    </div>
  </header>
