<header id="header">
{% include "blocks/languageswitcher.njk" %}

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid container-xl">
      <div class="navbar-brand">
        <h3><a href="/" class="fw-normal">{{ site.title | upper }}</a></h3>
        <span id="slogan" class="fs-5 fw-light">{{ site.slogan }}</span>
      </div>
      <div class="justify-content-end">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ms-4"><a class="nav-link" href="#">Collections</a></li>
          <li class="nav-item ms-4"><a class="nav-link" href="#">Home</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
