    <div id="languageswitcher">
      <div class="container-xl">
        <ul class="nav fw-semibold">
          <li class="nav-item"><a href="/fr" class="nav-link py-1"/>French</a></li>
          <li class="nav-item"><a href="/en" class="nav-link py-1"/>English</a></li>
        </ul>
      </div>
    </div>
