
    <article class="article container-xl">
      <h2><a href="{{ post.url }}">{{ post.data.title | safe }}</a></h2>

      <div class="node-meta">
        <i class="fas fa-user"></i>{{ post.data.author }}
        <i class="fas fa-calendar"></i>{{ post.date.toLocaleString(locale) }}
        {% if post.data.sites | length > 0 %}
        <i class="fas fa-th-large"></i>
          {%- for site in post.data.sites -%}
            <a href="/{{ locale }}/sites/{{site | slugify}}.html">{{ site }}</a>{{ ", " if site != post.data.sites|last }}
          {%- endfor -%}
        {% endif %}
      </div>

      <div class="node-banner">
        <img src="{{ post.data.media.path }}" class="node-banner" />
        {% if post.data.media.credit|length > 0 %}
          <p><strong>{{ credit_label }}</strong> : {{ post.data.media.credit }} </p>
        {% elif post.data.credit|length > 0 %}
          <p><strong>{{ credit_label }}</strong> : {{ post.data.credit }} </p>
        {% endif %}
      </div>
      <p class="dummy">
        {{- post.data.summary -}}
      </p>

      {% if post.data.tags|length > 0 %}
        <div class="node-taxonomy">
          <h3><i class="fas fa-bookmark"></i>Tags</h3>
          <ul>
          {%- for tag in post.data.tags -%}
            <li><a href="/{{ locale }}/tags/{{ tag | slugify }}.html">{{ tag }}</a></li>
          {%- endfor -%}
          </ul>
        </div>
      {% endif %}
      <div class="node-links">
        <a href="{{ post.url }}" class="btn">{{ readmore_label }}<i class="fas fa-long-arrow-alt-right"></i></a>
      </div>

      <div class="hr-double"></div>
    </article>
