body {
    overflow-x: hidden;
}

/** HEADER **/
#languageswitcher {
    position:relative;
    margin: 0;
    padding:0;
    background-color: #e4e4dd;
    z-index: 5;
    border-bottom-style: solid;
    border-bottom-width: 2px ;
    border-bottom-color: #b9ad8c;
}
#languageswitcher li {font-size:0.9rem}
#languageswitcher a {text-decoration: none; color: #dc5431}
header {background-color: white}
#slogan {display:block; position: relative; top: -0.5rem}
nav a {
    color : #000000 ;
    text-decoration:none ;
}


/** CONTENT **/
#content {
    position:relative;
    background-color: #f4f4ef;
    z-index: 2;
}


/** FOOTER **/
section #last-section {
    visibility:hidden;
    z-index: 12;
}

footer {
    position: fixed;
    bottom: 0;
    background-image: url(/img/footer-bg.png);
    background-color: #d9c8b3;
    border-top-color: #ffffff;
    border-top-width: 4px;
    border-top-style: solid;
    width: 100%;
    z-index: 0
}

#footer-container {
    position: relative;
}

#about-me h3 {
    border-left: 2px solid #e3831c;
}

#copyright {
    border-top: double 3px #bbb0a1
}

footer a {
    color: #dc5431;
    text-decoration: none;
}
